extends: default

ignore: |
  ansible-raspberry-{{ cookiecutter.app_name_slug }}-docker/molecule/default/converge.yml
  ansible-raspberry-{{ cookiecutter.app_name_slug }}-docker/tasks/main.yml
  ansible-raspberry-{{ cookiecutter.app_name_slug }}-docker/meta/main.yml
  ansible-raspberry-{{ cookiecutter.app_name_slug }}-docker/defaults/main.yml

rules:
  braces:
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  document-start:
    present: false
  line-length: false
