{% raw %}{%{% endraw %} for key, value in {{ cookiecutter.app_name_ansible_var }}_docker_labels.items() %}
{% raw %}{{{% endraw %} key }}={% raw %}{{{% endraw %} value }}
{% raw %}{%{% endraw %} endfor %}
