{% raw %}{%{% endraw %} for key, value in {{ cookiecutter.app_name_ansible_var }}_env_vars.items() %}
{% raw %}{{{% endraw %} key }}={% raw %}{{{% endraw %} value }}
{% raw %}{%{% endraw %} endfor %}
